packages:
 yum:
  gcc-c++: []
  gcc-gfortran: []
  python-devel: []
  atlas-sse3-devel: []
  lapack-devel: []
  libpng-devel: []
  freetype-devel: []
  zlib-devel: []
  numpy: []
  scipy: []
container_commands:
 00Movescipy:
  command: "cp -r /usr/lib64/python2.6/site-packages/scipy /usr/lib64/python2.7/site-packages"
 00Movenumpy:
  command: "cp -r /usr/lib64/python2.6/site-packages/numpy /usr/lib64/python2.7/site-packages"
