 packages:
  yum:
   numpy: [1.9.1]
   scipy: []

 container_commands:
  00_Movenumpy:
   command: "cp -r /usr/lib64/python2.6/site-packages/numpy /usr/lib64/python2.7/site-packages"
  00_Movescipy:
   command: "cp -r /usr/lib64/python2.6/site-packages/scipy /usr/lib64/python2.7/site-packages"
  01_remove_global:
   command: "rm /opt/python/run/venv/lib/python2.7/no-global-site-packages.txt"
   test: test -f /opt/python/run/venv/lib/python2.7/no-global-site-packages.txt
  01_remove_global2:
   command: "rm /opt/python/run/baselinenv/lib/python2.7/no-global-site-packages.txt"
   test: test -f /opt/python/run/baselinenv/lib/python2.7/no-global-site-packages.txt
